<section> 

  <h3 id="about-me"> About Myself </h3>
  


  <div class="face-lockup"> 
    <div class="face-img"></div>
 

  </div>

  <div class="blurb">
  <p>Hello! My name is Malik, welcome to my virtual resume! I have a degree in Computer science (Hons) from CarletonU (Proud Raven!).  I have plenty of ideas in my head, passion in my veins, hardwork in my DNA and learning is my weapon of choice. My speciality is, never giving up and getting work done right and in time.  
  </p>

  </div>


  <h3 id="acti"> Activites </h3>
  <div class="blurb">
    <p> I believe playing any competitive sport forces you to stay composed under pressure and also trains you to effectively strategize your moves against your opponent's. Playing competitive sports keeps you disciplined, true to yourself and on your toes. I have a knack for cricket, basketball, baseball, football, tennis, and squash. </p></div>
  <div class="face-lockup2">
  <div class="tooltip">
  <span class="tooltiptext"> cricket </span> 
    <div class="pic-cricket"></div>
</div>


  <div class="tooltip">
  <span class="tooltiptext"> basketball </span>
     <div class="pic-bball"></div>
</div>
 

   <div class="tooltip">
  <span class="tooltiptext"> football </span>
      <div class="pic-football"></div>
</div>


   <div class="tooltip">
  <span class="tooltiptext"> squash </span>
         <div class="pic-squash"></div>
</div>




  </div>
<!--
    <h3> My Skills</h3>


  <div class="skill-lockup">
    
    <div class= "skill-unit">
    <div class="skill-label"> <strong> Java </strong></div>
    <div class="skill-icons"><span style="color:green">☆</span><span style="color:green">☆</span><span style="color:green">☆</span><span style="color:green">☆</span><span style="color:green">☆</span><span style="color:green">☆</span><span style="color:green">☆</span><span>☆</span><span>☆</span><span>☆</span>

    </div>
    </div>


    <div class= "skill-unit">
    <div class="skill-label"> <strong> C++ </strong></div>
    <div class="skill-icons"><span style="color:green">☆</span><span style="color:green">☆</span><span style="color:green">☆</span><span style="color:green">☆</span><span style="color:green">☆</span><span style="color:green">☆</span><span style="color:green">☆</span><span>☆</span><span>☆</span><span>☆</span>

    </div>
    </div>



    <div class= "skill-unit">
    <div class="skill-label"> <strong> Mobile Dev android </strong> </div>
    <div class="skill-icons"><span style="color:green">☆</span><span style="color:green">  ☆  </span><span style="color:green">☆</span><span style="color:green">☆</span><span style="color:green">☆</span><span style="color:green">☆</span><span style="color:green">☆</span><span>☆</span><span>☆</span><span>☆</span>

    </div>
    </div>




    <div class= "skill-unit">
    <div class="skill-label"> <strong> UX </strong></div>
    <div class="skill-icons"><span style="color:green">☆</span><span style="color:green">☆</span><span style="color:green">☆</span><span style="color:green">☆</span><span style="color:green">☆</span><span style="color:green">☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>

    </div>
    </div>



    <div class= "skill-unit">
    <div class="skill-label"> <strong><strong> Node.js </strong> </strong></div>
    <div class="skill-icons"><span style="color:green">☆</span><span style="color:green">☆</span><span style="color:green">☆</span><span style="color:green">☆</span><span style="color:green">☆</span><span style="color:green">☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>

    </div>
    </div>



    <div class= "skill-unit">
    <div class="skill-label"> <strong> Planning </strong></div>
    <div class="skill-icons"><span style="color:green">☆</span><span style="color:green">☆</span><span style="color:green">☆</span><span style="color:green">☆</span><span style="color:green">☆</span><span style="color:green">☆</span><span style="color:green">☆</span><span>☆</span><span>☆</span><span>☆</span>

    </div>
    </div>



    <div class= "skill-unit">
    <div class="skill-label"> <strong> Punctuality </strong></div>
    <div class="skill-icons"><span style="color:green">☆</span><span style="color:green">☆</span><span style="color:green">☆</span><span style="color:green">☆</span><span style="color:green">☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>

    </div>
    </div>




      <div class= "skill-unit">
    <div class="skill-label"> <strong> Learning </strong></div>
    <div class="skill-icons"><span style="color:green">☆</span><span style="color:green">☆</span><span style="color:green">☆</span><span style="color:green">☆</span><span style="color:green">☆</span><span style="color:green">☆</span><span style="color:green">☆</span><span style="color:green">☆</span><span style="color:green">☆</span><span style="color:green">☆</span>

    </div>
    </div>

  </div>




  </div>






-->

<br/>
    <br/>
    <br/>
    <br/>


</section>



